@tailwind base;
@tailwind components;
@tailwind utilities;



/* toogle cards */

  .toggle_dot {
    top: -.25rem;
    transition: all 0.3s ease-in-out;
  }

  input:checked~.toggle_dot {
    transform: translateX(100%);
    background-color: #0082c8;
  }

  .bg-gradient {
    background: #667db6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .bg-gradient-base {
    background-color: #0082c8;
  }

.font-work-sans {
    font-family: 'Work Sans', sans-serif;
}

/*  */



